body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  border: 1px solid #ececec;
}
h1 h2 h3 h4 h5 h6 p ul li {
  margin: 0;
  padding: 0;
}

.font-raleway {
  font-family: "Raleway", sans-serif;
}

.logo {
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 0.83;
  letter-spacing: 0.03em;
  margin-top: 28px;
}
.margin-left {
  margin-left: 10px;
}
footer {
  background: #2f303a;
}

address {
  background: #2f303a;
}

.portfolio {
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  padding-top: 30px;
  padding-bottom: 10px;
  background: #2f303a;
}
.prime {
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: #212121;
}
.title {
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 0.5;
  letter-spacing: 0.06em;
  color: #212121;
}
.description {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 0.53;
  letter-spacing: 0.03em;
  color: #757575;
}
.bottom {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 0.58;
  letter-spacing: 0.03em;
  padding-top: 5px;
  padding-bottom: 3px;
}

.down-sign {
  color: rgba(255, 255, 255, 0.6);
}
.number {
  color: #ffffff;
}

.designation {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  margin-left: 50px;
  margin-top: 32px;
}
.left {
  margin-left: 364px;
}
ul li {
  display: inline-block;
  margin-top: 14px;
  list-style-type: none;
}
.blue {
  color: #2196f3;
}
.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}

.filters {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.14;
  margin-bottom: 50px;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  margin: 4px 4px;
  color: #212121;
  background-color: #f5f4fa;
}
.black {
  color: #000000;
}
.random {
  color: #757575;
}
a {
  cursor: pointer;
}
a:hover {
  color: #2196f3;
}

header {
  background: #ffffff;
  height: 80px;
  justify-content: center;
}

img {
  background: #ffffff;
  border: 1px solid #eeeeee;
}
.borders {
  border-bottom: solid 1px #ececec;
}

.color {
  color: #ffffff;
}

button {
  cursor: pointer;
  transition: background-color 0.2;

  border: none;
}
button:hover {
  color: #212121;
  background-color: #2196f3;
}

.container {
  display: flex;

  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1200px;

  width: 100%;
  padding: 0px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.all-designation {
  border: 1px solid #eeeeee;
  border-top: 0;
  padding: 20px 24px;
  margin: 0 auto;
}
.images {
  gap: 30px 30px;
  justify-content: center;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0px;
  margin: 0px;
}
