body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  border: 1px solid #ececec;
}

.font-raleway {
  font-family: "Raleway", sans-serif;
}

.logo {
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 0.83;
  letter-spacing: 0.03em;
}
.portfolio {
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.prime {
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: #212121;
}
.title {
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 0.5;
  letter-spacing: 0.06em;
  color: #212121;
}
.description {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 0.53;
  letter-spacing: 0.03em;
  color: #757575;
}
.bottom {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 0.58;
  letter-spacing: 0.03em;
}
.down-sign {
  color: rgba(255, 255, 255, 0.6);
}
.number {
  color: #ffffff;
}
.designation {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}
.blue {
  color: #2196f3;
}
.filters {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.14;

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
  background-color: #f5f4fa;
}
.black {
  color: #000000;
}
.random {
  color: #757575;
}

ul {
  list-style-type: none;
}

a {
  cursor: pointer;
}
a:hover {
  color: #2196f3;
}

footer {
  border: 1px solid #ececec;
  background: #2f303a;
}
header {
  background: #ffffff;
  border: 1px solid #ececec;
}

img {
  background: #ffffff;
  border: 1px solid #eeeeee;
}

.color {
  color: #ffffff;
}

button {
  cursor: pointer;
  transition: background-color 0.2;

  border: none;
}
button:hover {
  color: #212121;
  background-color: #2196f3;
}
