.clients {
  background: #ffffff;
  margin: 0 auto;
  border: none;
  padding-bottom: 94px;

  &__title {
    padding-top: 90px;
    @include fontset($fs: 28px, $lh: 1.18, $align: center);
    color: getColor("title-text");
  }
  &__list {
    @include for-tablet-portrait-up {
      margin: 0 auto;
      margin-left: -30px;
    }

    flex-wrap: wrap;
    gap: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
  }
  &__list li {
    width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__list li:hover,
  &__list li:focus {
    --color1: #2196f3;
    --color2: #2196f3;
    border: 1px solid #2196f3;
    border-radius: 4px;
    cursor: pointer;
    transition: color 250ms;
    transition: border 250ms;
    transition: background-color 250ms;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__item {
    width: 170px;
    height: 92px;
  }

  &__item {
    height: 92px;
    flex-basis: calc((100% - 30px) / 2);

    @include for-tablet-landscape-up {
      flex-basis: calc((100% - 60px) / 3);
    }

    @include for-desktop-up {
      flex-basis: calc((100% - 150px) / 6);
    }
  }
}
