.header {
  border-bottom: solid 1px #ececec;
}
.header {
  &__container {
    display: flex;

    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;

    width: 100%;
    padding: 0px;

    @include for-tablet-portrait-up {
      width: 480px;
      margin: 0 auto;
    }

    @include for-tablet-landscape-up {
      width: 768px;
    }

    @include for-desktop-up {
      width: 1200px;
    }
  }
  &__link {
    margin-left: 364px;
  }
  &__link {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    margin-left: 50px;
    margin-top: 32px;
  }
  &__link:hover,
  &__link:focus {
    filter: invert(50%) sepia(40%) saturate(4076%) hue-rotate(184deg)
      brightness(100%) contrast(91%);
    transition: filter 250ms;
    transition: background-color 250ms;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__link {
    color: #757575;
  }
  &__list {
    display: none;

    @include for-tablet-landscape-up {
      @include displayflex($align-items: start);
      flex-direction: column;
      gap: 10px;
    }

    @include for-desktop-up {
      @include displayflex();
      flex-direction: row;
      gap: 50px;
    }
  }
}
