.social {
  display: flex;
  justify-content: space-around;
  margin: 0 32px;
  margin-left: 20px;
  margin-bottom: 16px;
  padding-left: 16px;
  & li:hover,
  & li:focus {
    background: var(--brand-color);
    --color1: #ffffff;
    cursor: pointer;
    transition: background-color 250ms;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  & li {
    height: 44px;
    width: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
}
