.subscription {
  margin-left: 70px;
  margin-top: 55px;

  &__tittle2 {
    color: #ffffff;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
  }
  &__submit {
    display: flex;
    gap: 10px;
  }
  &__mail {
    display: flex;
    align-items: center;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
  }
  &__mail input {
    width: 100%;
    margin: 0;
    background-color: transparent;
    border: none;
    outline: none;

    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: #ffffff;
  }
  &__button {
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border-color: var(--brand-color);
    background: var(--brand-color);
    border-radius: 4px;
    color: var(#ffffff);
    font-weight: 700;
    font-size: 16px;
    line-height: 1, 87;
    letter-spacing: 0.06em;
    cursor: pointer;
    fill: var(--brand-color);
    color: #ffffff;
  }
}

.subscription-form {
  @include for-desktop-up {
    @include displayflex();
    gap: 12px;
  }

  &__input {
    width: 100%;
    color: getColor("white-text");
    background-color: getColor("dark-bcg");
    padding: 15px;
    margin: 0 auto 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: $box-shadow;
    border-radius: 4px;

    @include for-tablet-landscape-up {
      width: 450px;
    }
    @include for-desktop-up {
      width: 358px;
      margin: 0 auto;
    }

    &::placeholder {
      @include fontset($fw: 400, $lh: 1.25);
      color: getColor("subscription-placeholder");
    }

    &:focus {
      color: getColor("white-text");
      border: 1px solid getColor("accent");
      outline: none;
    }
  }

  &__btn {
    @include displayflex();
    gap: 10px;
    @include btn($padding: 0);

    &:hover,
    &:focus {
      background-color: getColor("btn-hover-bcg");
    }
  }

  &__icon {
    fill: currentColor;
  }
}
