:root {
  --brand-color: #2196f3;
  --brand-color-2: #2f303a;
}
body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  border: 1px solid #ececec;
}
h1 h2 h3 h4 h5 h6 p ul li {
  margin: 0;
  padding: 0;
}

.font-raleway {
  font-family: "Raleway", sans-serif;
}
footer {
  background: var(--brand-color-2);
}

address {
  background: #2f303a;
}
header {
  background: #ffffff;
  height: 80px;
  justify-content: center;
}
ul li {
  display: inline-block;
  margin-top: 14px;
  list-style-type: none;
}
a {
  cursor: pointer;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
a:hover {
  color: #2196f3;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

img {
  background: #ffffff;
  border: 1px solid #eeeeee;
}
h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}
h2 {
  font-size: 36px;
  line-height: 1.167em;
  margin-bottom: 50px;
  text-align: center;
}

h5 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
